<html>
    <head>
        <title>COVID-19 Tracker | About us</title>
	    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
        	<link rel="shortcut icon" href="public/covid.png">

        <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="public/about_css.css">
    </head>
    <body>
        <div class="super_wrap">
            <div class="saransh">
                <div class="saransh_wrap">
                    <div class="image_wrap">
                        <img src="public/saransh1.jpg" class="image">
                        <div class="social_media">
                            <a href="https://github.com/SaranshM" target="_blank"><img src="public/github.png" class="icon"/></a>
                            <a href="https://www.linkedin.com/in/saransh-mehta-0802/" target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin.png" class="icon"/></a>
                            <a href="mailto:saranshmehta96@gmail.com" target="_blank"><img src="https://img.icons8.com/color/48/000000/gmail.png" class="icon"/></a>
                        </div>
                    </div>
                    <hr class="line">
                    <div class="vertical_line"></div>
                    <div class="text">
                        <p>Hi, I'm <span>Saransh Mehta.</span><br>CSE student at VIT Vellore, second year.<br>Technophile, Convergent Thinker, Football freak.<br>CTO - Tribe, Full Stack Developer, Competitive Coder.<br><br>Corona Warriors - A salute from the sea and sky.</p>
                        <p class="saransh_email">saranshmehta96@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="deepanshu">
                <div class="deepanshu_wrap">
                    <div class="image_wrap">
                        <img src="public/deepanshu.jpg" class="image">
                        <div class="social_media">
                            <a href="https://github.com/dhingradeepanshu" target="_blank"><img src="public/github.png" class="icon"/></a>
                            <a href="https://www.linkedin.com/in/deepanshu-dhingra-00a37a182" target="_blank"><img src="https://img.icons8.com/color/48/000000/linkedin.png" class="icon"/></a>
                            <a href="mailto:deepanshudhingra01@gmail.com" target="_blank"><img src="https://img.icons8.com/color/48/000000/gmail.png" class="icon"/></a>
                        </div>
                    </div>
                    <hr class="line">
                    <div class="vertical_line"></div>
                    <div class="text">
                        <p>Hello, <span>Deepanshu</span> this side<br>CSE undergrad at VIT Vellore<br>I embrace the nerd. I would like to make the web a better place. Hopefully we cross paths in the real world someday and we can make it a better place together.<br>Thanks to all frontline workers. </p>
                        <p class="deepanshu_email">deepanshudhingra01@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>