<!DOCTYPE html>
<html>
<head>
	<title>COVID-19 Tracker</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

	<link rel="stylesheet" href="public/css_error404.css">
</head>
<body onload="location_track()">
	
    <div class="container">
        <input type="checkbox" id="switch"/>
        <div class="ellipse"></div>
        <div class="ray"></div>
        <div class="head"></div>
        <div class="neck"></div>
        <div class="body">
            <label for="switch"></label>
        </div>
    </div>
    <div class="container">
        <div class="msg msg_1">404</div>
        <div class="msg msg_2">Page Not Found</div>
    </div>

</body>
</html>
