<!DOCTYPE html>
<html>
<head>
	<title>COVID-19 Tracker</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

	<link rel="stylesheet" href="public/css.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCzIMktvBu1snzyg-X2Eh9qI-BVjkMCUpQ"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body onload="location_track()">
	<div class="super_wrap">
		<div class="left_half">
			<div class="header">
				<h1>COVID-19 Tracker</h1>
			</div>
			<form autocomplete="off">
				<div class="autocomplete">
					<input id="myInput" type="text" placeholder="Country" required>
				</div>
				<button type="submit"><img src="https://img.icons8.com/ios/50/000000/search--v1.png"/></button>
			</form>
			<div id="data_wrap" class="animated fadeIn">
				<div class="place">
					<h1 id="place_value">WORLD</h1>
				</div>
				<div class="data1">
					<div class="confirm">
						<p>Confirmed : </p>
						<p id="confirm_count">1234</p>
					</div>
					<div class="death">
						<p>Deaths : </p>
						<p id="death_count">1234</p>
					</div>
					<div class="active">
						<p>Active : </p>
						<p id="active_count">1234</p>
					</div>
					<div class="recovered">
						<p>Recovered : </p>
						<p id="recovered_count">1234</p>
					</div>
				</div>
			</div>
			{{!-- <div id="loading">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div> --}}
			<div class="container loading" id="loading">
				<div class="meta-information">
					<div class="name skeleton">Demo User</div>
				</div>
				<div class="item_wrap">
					<div class="meta-section">
						<div class="thumbnail-image skeleton">
					</div>
					</div>
					<div class="meta-section">
						<div class="thumbnail-image skeleton">
						</div>
					</div>
					<div class="meta-section">
						<div class="thumbnail-image skeleton">
						</div>
					</div>
					<div class="meta-section">
						<div class="thumbnail-image skeleton">
						</div>
					</div>
				</div>
			</div>
			<canvas id="myChart1"></canvas>
			<br>
			<canvas id="myChart2"></canvas>
			<br>
			<canvas id="myChart3"></canvas>
			<br>
			<canvas id="myChart4"></canvas>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

		</div>
		<div class="right_half">
			<div id="chartdiv"></div>
		</div>	
	</div>
</body>
</html>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/data/countries2.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script type="text/javascript" src="public/js.js"></script>

<script type="text/javascript">

	
</script>