<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="public/css.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
	<div class="super_wrap">
		<div class="left_half">
			<div class="header">
				<h1>COVID-19 Tracker</h1>
			</div>
		</div>
		<div class="right_half">
			<div id="chartdiv"></div>
		</div>	
	</div>
</body>
</html>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/data/countries2.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script type="text/javascript" src="public/js.js"></script>