*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color:#3AAFA9;
  overflow-y: auto;
}

.super_wrap
{
  display:flex;
  flex-wrap:wrap;
}

.left_half
{
  width:45vw;
  background-color:#3AAFA9;
  min-height: 100vh;
}
.right_half
{
  position: fixed;
  left:45.5%;
  width:55vw;
  overflow:scroll;
  /* background-image:-webkit-linear-gradient(left,rgba(78, 244, 232,0.4),rgba(44, 36, 76,0.4),rgba(78, 244, 232,0.4));  */
  background-color: #17252A;
}

.right_half::-webkit-scrollbar {
  display: none;
}


#chartdiv
{
  height: 100vh;
}

.header
{
  text-align: center;
  margin-top:5% ;
}

.header h1
{
  color:#feffff;
  letter-spacing: 2px;
  font-size: 3vw;
}

/* Search Bar */

form
{
  /* margin:0 auto; */
  /* width:35vw; */
  text-align: center;
  margin-top:5% ;
  display:flex;
  /* justify-content: center; */

}

.globe_icon
{
  width:60px;
  height:60px;
  margin-top:4.3%;
  cursor:pointer;
}

#myInput
{
  width:25vw;
  padding:3%;
  border-radius: 5px 0 0 5px;
  border:none;
  padding-left:6%;
  font-family: 'Roboto Mono', monospace;
  font-size:1.2vw;
  transition: 0.5s;
  height: 50px;
  /* border-bottom:solid #204051 3px; */
}

#myInput:focus
{
  background-color: white;
}

button
{
  border:none;
  background-color: 	#17252A;
  border-radius: 0px 30px 30px 0px;
  padding:1%;
  cursor: pointer;
  transition: .3s;
  opacity: 0.9;
  height: 50px;
  width:50px;
}

button:hover
{
  opacity: 1;
}

button img
{
  width:60%;
  
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  /* box-shadow: 0px 10px 20px rgb(255,255,255,0.4); */
  /* background-image:-webkit-linear-gradient(top,rgb(236, 195, 201),rgb(253, 253, 252),rgb(236, 195, 201)) ; */
  /* overflow-y:scroll ; */
}

.autocomplete-items div:first-child
{
  border-top: 5px;
}
.autocomplete-items div {
  padding:10px;
  cursor: pointer;
  background-color:#def2f1 ; 
  border-bottom: 1px solid black; 
  transition:background-color 0.4s;
  border-radius: 2px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgb(228, 255, 255,1); 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.search_globe
{
  display:flex;
  justify-content: space-evenly;
  vertical-align: middle;
}

/*---------*/

/* Data display */

.place h1
{
  color:#feffff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin:5% 0 5% 0;
}

#data_wrap
{
  display:none;
  margin-bottom:5%;
}

.data1
{
  display:flex;
  justify-content: space-evenly;
}

.death,.active,.recovered,.confirm
{
  width:10vw;
  padding:1.5%;
  border-radius: 5px;
  box-shadow: -5px 1px 10px rgba(0,0,0,0.7);
  opacity:0.95;
  transition: 0.2s;
  border:solid 2px #def2f1;
}

.death p:first-child,.active p:first-child,.recovered p:first-child,.confirm p:first-child
{
  font-weight: bold;
  color:#feffff;
  font-size:1.2vw;
}

.death p:last-child,.active p:last-child,.recovered p:last-child,.confirm p:last-child
{
  margin-top:10%;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bolder;
  color:#feffff;
}

.death
{
  background-color: #17252A;
/* background-image: linear-gradient(315deg, #acabb0 0%, #e01c34 74%); */
}

.active
{
  background-color: #17252A;
/* background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%); */

}

.recovered
{
  background-color: #17252A;
  /* background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%); */
}

.confirm
{
  background-color: #17252A;
  /* background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%); */

}

.death:hover,.active:hover,.recovered:hover,.confirm:hover
{
  opacity:1;
  /* box-shadow: -5px 1px 20px rgba(200,200,200,0.2); */
  box-shadow: -5px 1px 10px black;
}

/*------------*/

/* Loading animation */

#loading
{
  text-align: center;
  margin:5% 0 0 0;
}


.item_wrap
{
  display:flex;
  justify-content: space-evenly;
  margin-top:5%;
}


.loading {
  		
  		justify-content: space-evenly;
  }
	.loading .skeleton {
	  display: inline-block;
	  height: 100%;
	  width: 100%;
	  background: linear-gradient(-90deg, #c1c1c1 0%, #f8f8f8 50%, #c1c1c1 100%);
	  background-size: 400% 400%;
	  animation: left-to-right 1.2s ease-in-out infinite;
	  color: transparent;
	  position: relative;
	  z-index: 2;
	}
	.loading .skeleton:before {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  background: linear-gradient(-90deg, #c1c1c1 0%, #f8f8f8 50%, #c1c1c1 100%);
	  background-size: 400% 400%;
	  animation: left-to-right 1.2s ease-in-out infinite;
	  z-index: 2;
    content: "";
  }

	@keyframes left-to-right {
	  0% {
	    background-position: 0% 0%;
	  }
	  100% {
	    background-position: -135% 0%;
	  }
	}
	.container {
    /* border: 1px solid #ccc; */
    width:100%;
	}
	.container .meta-section .thumbnail-image {
    width:10vw;
    height: 6vw;
	}
	.meta-section {
	  display: flex;
    align-items: center;
  }
  
  .meta-information {
    width:10vw;
    height: 40px;
    margin:0 auto;
  }

  .item_wrap2 .meta-section
  {
    width:30vw;
    margin:5% auto;

  }

  .item_wrap2 .meta-section .thumbnail-image
  {
    width:100%;
    height: 200px;
  }

  .name {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30%;
  }

  /*----------*/

  /* Graphs */

  #myChart1,#myChart2,#myChart3,#myChart4
  {
    width:85% !important;
    height:15% !important;
    /* background-color: rgba(231, 239, 246,0.9); */
/*     background-collor: rgb(250, 210, 213); */
    background-color: #e7eff6;
    margin: 5% auto 0 auto;
    display:none;
    box-shadow:-5px 1px 15px black ;
  }

  #myChart1
  {
    margin-top:5%;
  }

  /*--------------*/

  /* Tables */

  .table-fill {
    background-color:#204051;
    border-radius:3px;
    border-collapse: collapse;
    display:none;
    
    margin: 7% auto 5% auto;
    width:95%;
    padding:5px;
    box-shadow: -5px 1px 10px rgba(0, 0, 0);
    animation: float 5s infinite;
  }

  .table-hover
  {
    display:block;

    max-height: 25vw;
    overflow-y:scroll;
  }

  .table-hover::-webkit-scrollbar
  { 
     width: 0 !important 
  }

  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
  
   
  th {
    color:#D5DDE5;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:1vw;
    font-weight: 100;
    padding:2%;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }
  
  th:first-child {
    border-top-left-radius:3px;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:12px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#4E5066;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    width:20%;
    text-align:center;
    vertical-align:middle;
    font-weight:300;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    font-size:0.75vw;
  }
  
  td:last-child {
    border-right: 0px;
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  th.text-right {
    text-align: right;
  }
  
  td.text-left {
    text-align: left;
  }
  
  td.text-center {
    text-align: center;
  }
  
  td.text-right {
    text-align: right;
  }

  /*------------*/

  /* Error message */

  #error1
  {
    display:none;
  }

  body .containerx {
    height: 400px;
    width: 400px;
    
    margin:5% auto 0 auto;
  }
  body .containerx .alert-box {
    background-color: #f5f5f5;
    width: 300px;
    border-radius: 4px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.55);
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    margin:0 auto;
  }
  body .containerx .alert-box--icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    padding-top: 20px;
  }
  body .containerx .alert-box--icon i {
    color: #f65656;
    font-size: 45px;
  }
  body .containerx .alert-box--content {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 20px 0;
  }
  body .containerx .alert-box--content h2,
  body .containerx .alert-box--content p {
    margin: 10px 0;
    text-align: center;
  }
  body .containerx .alert-box--content h2 {
    font-size: 20px;
    font-weight: 700;
    opacity: 0.8;
  }
  body .containerx .alert-box--content p {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    line-height: 24px;
    font-size: 15px;
    opacity: 0.7;
  }
  body .containerx .alert-box--button {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4ox;
  }
  body .containerx .alert-box--button a {
    text-decoration: none;
    background-color: #f65656;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #f5f5f5;
    font-weight: 700;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  body .containerx .alert-box--button a:hover {
    opacity: 1;
  }
  
  .scale-in {
    -webkit-animation: scaleIn 1.5s forwards;
            animation: scaleIn 1.5s forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  
  .scale-out {
    -webkit-animation: scaleOut 1.5s forwards;
            animation: scaleOut 1.5s forwards;
  }
  
  @-webkit-keyframes scaleOut {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    15% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    40% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  
  @keyframes scaleOut {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    15% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    40% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @-webkit-keyframes scaleIn {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    15% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    30% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scaleIn {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    15% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    30% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

/*-----------*/

/* News section */

.news_wrap
{
  display:none;
  width:40vw;
  margin: 7% auto 0 auto;
  background-color: #eee;

  box-shadow: -5px 10px 20px black;
    border-radius: 5px 5px 5px 5px;


}

.news_title_head
{
  background-color: #2B7A78;
  padding:2% 3%;
  border-bottom: solid black 3px;
  border-radius: 5px 5px 0 0;
}

.news_title_head h1
{
  font-size:1.15vw;
}

a
{
  color:black;
}

.news_title
{
	font-size: 1vw;
}
.news_block
{
	padding:3%;
	border-bottom: solid black 2px;
	transition: 0.8s;
}


.news_update
{
	font-size: 10px;
	color:grey;
}
.news_main_update
{
  font-size: 10px;
  columns: #000000;
}
.desc
{
	margin-top:2%;
	color:rgb(50,50,50);
  transition: 0.3s;
  font-size:1vw; 

}

.desc:hover
{
	letter-spacing: 1px;
}

.news_block:hover
{
	background-color: #fff;
	}


.news_block:last-child
{
	border-radius: 0 0 5px 5px;
}

/*----------------*/


/* Graph Toggles */

.graph_toggle
{
  display:flex;
  margin:5% auto 0 auto;
  width:100%;
  justify-content: center;
}

.cum,.daily
{
  background-color:#2B7A78;
  opacity:0.8;
  cursor:pointer;
  transition: 0.3s;
  width:20%;
  height: 10%;
  text-align: center;
  padding:1.5% 0;
  box-shadow:-5px 0 10px black;
  border:solid 3px #def2f1;
}

.cum
{
  opacity:1;
}

.cum:hover,.daily:hover
{
  opacity:1;
  border-radius:5px;
}

.cum h1,.daily h1
{
  font-size:1vw;
  color:#feffff;
}

.cum
{
  margin-right:1%;
}

.daily
{
  margin-left:1%;
}

/*------------*/

/*Strip*/


.strip
{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:1% 0 5% 0;
}

.strip_wrap a
{
  text-decoration: none;
}

.strip img
{
  width:30px;
  margin-right: 1%;
}

.strip p
{
  color:#feffff;
  margin-left: 1%;
}

/*-----------------*/

/*Repo*/

.repo
{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:15% 0 0 0;
}

.repo_wrap a
{
  text-decoration: none;
}

.repo img
{
  width:30px;
  margin-right: 1%;
}

.repo p
{
  color:#17252A;
  margin-left: 1%;
  font-weight: bold;
}

/*-----------------*/