*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.super_wrap
{
  display:flex;
  
}

.left_half
{
  width:45vw;
  background-color:#204051;
  height: 110vh;
  z-index: 2;
}

.right_half
{
  position: fixed;
  left:45.5%;
  width:55vw;
  overflow:scroll;
  /* background-image:-webkit-linear-gradient(left,rgba(78, 244, 232,0.4),rgba(44, 36, 76,0.4),rgba(78, 244, 232,0.4));  */
  background-color: #e7eff6;
}

.right_half::-webkit-scrollbar {
  display: none;
}


#chartdiv
{
  height: 100vh;
}

.header
{
  text-align: center;
  margin-top:5% ;
}

.header h1
{
  color:#eee;
  letter-spacing: 2px;
  font-size: 3vw;
}



form
{
  margin:0 auto;
  width:35vw;
  text-align: center;
  margin-top:5% ;
  display:flex;
  justify-content: center;
}

#myInput
{
  width:25vw;
  padding:3%;
  border-radius: 5px 0 0 5px;
  border:none;
  padding-left:6%;
  font-family: 'Roboto Mono', monospace;
  font-size:1.2vw;
  transition: 0.5s;
  height: 50px;
  /* border-bottom:solid #204051 3px; */
}

#myInput:focus
{
  background-color: white;
}

button
{
  border:none;
  background-color: 	rgb(250, 169, 49);
  border-radius: 0px 30px 30px 0px;
  padding:1%;
  cursor: pointer;
  transition: .3s;
  opacity: 0.9;
}

button:hover
{
  box-shadow:0 0 5px rgb(250, 169, 49),
              0 0 25px rgb(250, 169, 49),
              0 0 50px rgb(250, 169, 49),
              0 0 400px rgb(250, 169, 49);
  opacity: 1;
}

button img
{
  width:60%;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*-------------------*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  /* box-shadow: 0px 10px 20px rgb(255,255,255,0.4); */
  /* background-image:-webkit-linear-gradient(top,rgb(236, 195, 201),rgb(253, 253, 252),rgb(236, 195, 201)) ; */
  /* overflow-y:scroll ; */
}

.autocomplete-items div:first-child
{
  border-top: 5px;
}
.autocomplete-items div {
  padding:10px;
  cursor: pointer;
  background-color:#e7d3d3 ; 
  border-bottom: 1px solid black; 
  transition:background-color 0.4s;
  border-radius: 5px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgb(228, 255, 255,1); 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.place h1
{
  color:#eee;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin:7% 0;
}

#data_wrap
{
  display:none;
}

.data1
{
  display:flex;
  justify-content: space-evenly;
}

.death,.active,.recovered,.confirm
{
  width:10vw;
  padding:1.5%;
  border-radius: 10px;
  
  opacity:0.95;
  transition: 0.2s;
}

.death p:first-child,.active p:first-child,.recovered p:first-child,.confirm p:first-child
{
  font-weight: bold;
  color:rgb(50,50,50);
}

.death p:last-child,.active p:last-child,.recovered p:last-child,.confirm p:last-child
{
  margin-top:10%;
  text-align: center;
  font-size: 27px;
  font-weight: bolder;
  color:rgb(50,50,50);
}

.death
{
  background-color:rgb(255,255,255);
  background-image: -webkit-linear-gradient(315deg, rgba(164, 6, 6,1), rgba(241, 149, 155,1));
}

.active
{
  background-color:rgb(255,255,255);
  background-image: -webkit-linear-gradient(315deg, rgba(251, 176, 52,1), rgba(255, 221, 0,1));

}

.recovered
{
  background-color: #f2cf43;
  background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
}

.confirm
{
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

}

.death:hover,.active:hover,.recovered:hover,.confirm:hover
{
  opacity:1;
  box-shadow: -5px 1px 20px rgba(200,200,200,0.2);
}

#loading
{
  justify-content: center;
  text-align: center;
  margin:15% 0;
}

ul {
  transform: translate(-50%. -50%);
  display: flex;
  width:10%;
  margin:0 auto;
}

ul li {
  list-style: none;
  width: 6px;
  height: 20px;
  background: #262626;
  margin: 0 4px;
  animation: pulsar .7s infinite alternate;
}

ul li:nth-child(1) {
  background-color: 	#696969;
}
ul li:nth-child(2) {
  background-color: 	#7D7D7D;
}
ul li:nth-child(3) {
  background-color: 	#9E9E9E;
}
ul li:nth-child(4) {
  background-color: 	#BDBDBD;
}
ul li:nth-child(5) {
  background-color: 	#D3D3D3;
}
ul li:nth-child(6) {
  background-color: 	#F3F3F3;
}

@keyframes pulsar {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(3);
  }
}
ul li:nth-child(1) {
  animation-delay: .1s;
}
ul li:nth-child(1) {
  animation-delay: .1s;
}
ul li:nth-child(2) {
  animation-delay: .2s;
}
ul li:nth-child(3) {
  animation-delay: .3s;
}
ul li:nth-child(4) {
  animation-delay: .4s;
}
ul li:nth-child(5) {
  animation-delay: .5s;
}
ul li:nth-child(6) {
  animation-delay: .6s;
}




