@media only screen and (max-width:900px)
{
    body
    {
        overflow-x: hidden;
    }

    .super_wrap
    {
        display:flex;
        flex-flow:column;
    }

    .left_half
    {
        width:100vw;
        order:2;
    }

    .right_half
    {
        position: relative;
        width:100vw;
        height: 50vh;
        left:0;
        order:1;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    form
    {
        margin-bottom:0%;
    }

    #chartdiv
    {
        height: 50vh;
    }

    #myInput
    {
        width: 50vw;
    }

    .death,.active,.recovered,.confirm
    {
        width:20vw;
        padding:1.5%;
        border-radius: 5px;
        box-shadow: -5px 1px 10px rgba(0,0,0,0.7);
        opacity:0.95;
        transition: 0.2s;
    }

    .death p:first-child,.active p:first-child,.recovered p:first-child,.confirm p:first-child
    {
        font-weight: bold;
        color:#feffff;
        font-size:1.8vw;
    }

    .death p:last-child,.active p:last-child,.recovered p:last-child,.confirm p:last-child
    {
        margin-top:7.5%;
        text-align: center;
        font-size: 1.8vw;
        font-weight: bolder;
        color:#feffff;
    }

    #myInput
    {
        font-size:1.6vw;
    }

    th,td
    {
        font-size:1.5vw;
    }

    .table-fill
    {
        width:75vw;
    }

    #myChart1,#myChart2,#myChart3,#myChart4
    {
        width:75% !important;
        height:15% !important;
        /* background-color: rgba(231, 239, 246,0.9); */
        background-color: #e7eff6;
        margin: 5% auto 0 auto;
        display:none;
        box-shadow:-5px 1px 15px black ;
    }

    #myChart1
    {
        margin-top:5%;
    }

    .table-hover
    {
        max-height: 50vw;
    }

    .news_wrap
    {
        display:none;
        width:65vw;
        margin: 7% auto 0 auto;
        background-color: #eee;
        box-shadow: -5px 10px 20px black;
        border-radius: 5px 5px 5px 5px;
    }

    .news_title_head h1
    {
        font-size:1.8vw;
    }

    .news_title
    {
        font-size: 1.6vw;
    }

    .cum h1,.daily h1
    {
        font-size:1.8vw;
    }

    .cum
    {
        margin-right:2%;
    }

    .daily
    {
        margin-left:2%;
    }

    .container .meta-section .thumbnail-image {
        width:20vw;
        height: 10vw;
    }

    .meta-information {
        width:20vw;
        height: 40px;
        margin:0 auto;
      }
    
      .item_wrap2 .meta-section
      {
        width:70vw;
        margin:5% auto;
    
      }
      
      .item_wrap2 .meta-section .thumbnail-image
        {
            width:100%;
            height: 300px;
        }
}

@media only screen and (max-width:500px)
{
    .death,.active,.recovered,.confirm
    {
        width:20vw;
        padding:1.5%;
        border-radius: 5px;
        box-shadow: -5px 1px 10px rgba(0,0,0,0.7);
        opacity:0.95;
        transition: 0.2s;
    }

    .death p:first-child,.active p:first-child,.recovered p:first-child,.confirm p:first-child
    {
        font-weight: bold;
        color:#feffff;
        font-size:2.3vw;
    }

    .death p:last-child,.active p:last-child,.recovered p:last-child,.confirm p:last-child
    {
        margin-top:10%;
        text-align: center;
        font-size: 2.3vw;
        font-weight: bolder;
        color:#feffff;
    }

    #myInput
    {
        font-size:2.5vw;
    }

    #myChart1
    {
        margin-top:10%;
    }

    .news_wrap
    {
        display:none;
        width:70vw;
        margin: 10% auto 0 auto;
        background-color: transparent;
        box-shadow: -5px 10px 20px black;
        border-radius: 10px 10px 10px 10px;
    }

    .news_title_head h1
    {
        font-size:2.1vw;
        border-radius:10px 10px 0 0;
    }

    .news_block
    {
        background-color: #eee;
    }

    .news_title
    {
        font-size: 2.1vw;
        border-radius:0px 0px 10px 10px;
    }

    th{
        font-size: 1.8vw;
    }
    td
    {
        font-size:1.6vw;
    }
    .table-fill
    {
        width:75vw;
    }

    .header h1
    {
        font-size: 6vw;
    }

    #place_value
    {
        font-size:6vw;
    }

    .cum h1,.daily h1
    {
        font-size:2.3vw;
    }

    .cum
    {
        margin-right:2%;
    }

    .daily
    {
        margin-left:2%;
    }

    .container .meta-section .thumbnail-image {
        width:20vw;
        height: 10vw;
    }

    .meta-information {
        width:20vw;
        height: 40px;
        margin:0 auto;
      }
    
      .item_wrap2 .meta-section
      {
        width:70vw;
        margin:5% auto;
    
      }
      
      .item_wrap2 .meta-section .thumbnail-image
        {
            width:100%;
            height: 170px;
        }

        #myChart1,#myChart2,#myChart3,#myChart4
        {
            width:75% !important;
            height:15% !important;
            /* background-color: rgba(231, 239, 246,0.9); */
            background-color: #e7eff6;
            margin: 2.5% auto 0 auto;
            display:none;
            box-shadow:-5px 1px 15px black ;
        }

        #myChart1
        {
            margin-top:5%;
        }

        
}

@media only screen and (max-width:415px)
{
    .death,.active,.recovered,.confirm
    {
        width:22vw;
        padding:1.5%;
        border-radius: 3px;
        box-shadow: -5px 1px 10px rgba(0,0,0,0.7);
        opacity:0.95;
        transition: 0.2s;
    }

    .death p:first-child,.active p:first-child,.recovered p:first-child,.confirm p:first-child
    {
        font-weight: bold;
        color:#feffff;
        font-size:2.8vw;
    }

    .death p:last-child,.active p:last-child,.recovered p:last-child,.confirm p:last-child
    {
        margin-top:10%;
        text-align: center;
        font-size: 2.8vw;
        font-weight: bolder;
        color:#feffff;
    }

    #myInput
    {
        font-size:2.5vw;
    }

    #myChart1
    {
        margin-top:10%;
    }

    .news_wrap
    {
        display:none;
        width:80vw;
        margin: 10% auto 0 auto;
        background-color: transparent;
        box-shadow: -5px 10px 20px black;
        border-radius: 10px 10px 10px 10px;
    }

    .news_title_head h1
    {
        font-size:3vw;
        border-radius:10px 10px 0 0;
    }

    .news_block
    {
        background-color: #eee;
    }

    .news_title
    {
        font-size: 2.8vw;
        border-radius:0px 0px 10px 10px;
    }

    th{
        font-size: 2vw;
    }
    tr
    {
        text-align: left;
    }
    td
    {
        text-align:left;
        font-size:2vw;
        padding-left:5px;
    }
    .table-fill
    {
        width:87vw;
    }

    .header h1
    {
        font-size: 6vw;
    }

    #place_value
    {
        font-size:6vw;
    }

    #myChart1,#myChart2,#myChart3,#myChart4
    {
        width:87% !important;
        height:30% !important;
        /* background-color: rgba(231, 239, 246,0.9); */
        background-color: #e7eff6;
        margin: 5% auto 0 auto;
        display:none;
        box-shadow:-5px 1px 15px black ;
    }

    #myChart1
    {
        margin-top:5%;
    }

    .alert-box
    {
        position: relative;
        top:15%;
    }


    .cum h1,.daily h1
    {
        font-size:2.8vw;
    }

    .cum
    {
        margin-right:1%;
    }

    .daily
    {
        margin-left:1%;
    }

    .container .meta-section .thumbnail-image {
        width:20vw;
        height: 10vw;
    }

    .meta-information {
        width:20vw;
        height: 40px;
        margin:0 auto;
      }
    
      .item_wrap2 .meta-section
      {
        width:70vw;
        margin:5% auto;
    
      }
      
      .item_wrap2 .meta-section .thumbnail-image
        {
            width:100%;
            height: 140px;
        }

        .cum,.daily
        {
            border-width:2px;
        }
}

@media only screen and (max-width:378px)
{
    .death,.active,.recovered,.confirm
    {
        width:22vw;
        padding:1.5%;
        border-radius: 5px;
        box-shadow: -5px 1px 10px rgba(0,0,0,0.7);
        opacity:0.95;
        transition: 0.2s;
    }

    .death p:first-child,.active p:first-child,.recovered p:first-child,.confirm p:first-child
    {
        font-weight: bold;
        color:#feffff;
        font-size:2.8vw;
    }

    .death p:last-child,.active p:last-child,.recovered p:last-child,.confirm p:last-child
    {
        margin-top:10%;
        text-align: center;
        font-size: 2.8vw;
        font-weight: bolder;
        color:#feffff;
    }

    #myInput
    {
        font-size:2.5vw;
    }

    #myChart1
    {
        margin-top:10%;
    }

    .news_wrap
    {
        display:none;
        width:80vw;
        margin: 10% auto 0 auto;
        background-color: transparent;
        box-shadow: -5px 10px 20px black;
        border-radius: 10px 10px 10px 10px;
    }

    .news_title_head h1
    {
        font-size:3vw;
        border-radius:10px 10px 0 0;
    }

    .news_block
    {
        background-color: #eee;
    }

    .news_title
    {
        font-size: 2.8vw;
        border-radius:0px 0px 10px 10px;
    }

    th{
        font-size: 2vw;
    }
    tr
    {
        text-align: left;
    }
    td
    {
        text-align:left;
        font-size:2vw;
        padding-left:5px;
    }
    .table-fill
    {
        width:87vw;
    }

    .header h1
    {
        font-size: 6vw;
    }

    #place_value
    {
        font-size:6vw;
    }

    #myChart1,#myChart2,#myChart3,#myChart4
    {
        width:87% !important;
        height:30% !important;
        /* background-color: rgba(231, 239, 246,0.9); */
        background-color: #e7eff6;
        margin: 5% auto 0 auto;
        display:none;
        box-shadow:-5px 1px 15px black ;
    }

    #myChart1
    {
        margin-top:5%;
    }

    .alert-box
    {
        position: relative;
        top:15%;
    }

    #myInput
    {
        height: 30px;
    }

    button
    {
        height: 30px;
    }

    button img
    {
        width:50%;
    }

    .globe_icon
    {
        height: 35px;
        width:35px;
    }

    .cum h1,.daily h1
    {
        font-size:2.8vw;
    }

    .cum
    {
        margin-right:1%;
    }

    .daily
    {
        margin-left:1%;
    }

    .container .meta-section .thumbnail-image {
        width:20vw;
        height: 10vw;
    }

    .meta-information {
        width:20vw;
        height: 40px;
        margin:0 auto;
      }
    
      .item_wrap2 .meta-section
      {
        width:70vw;
        margin:5% auto;
    
      }
      
      .item_wrap2 .meta-section .thumbnail-image
        {
            width:100%;
            height: 140px;
        }

        button img
        {
            width:40%;
        
        }

}

@media only screen and (max-width:320px)
{
    #myChart1,#myChart2,#myChart3,#myChart4
    {
        width:95% !important;
        height:150px !important;
        /* background-color: rgba(231, 239, 246,0.9); */
        background-color: #e7eff6;
        margin: 5% auto 0 auto;
        display:none;
        box-shadow:-5px 1px 15px black ;
    }

    #myChart1
    {
        margin-top:7%;
    }

}

@media only screen and (max-width:1024px) and (min-height:1366px)
{
    .super_wrap
    {
        display:flex;
        flex-flow:column;
    }

    .left_half
    {
        width:100vw;
        order:2;
    }

    .right_half
    {
        position: relative;
        width:100vw;
        height: 50vh;
        left:0;
        order:1;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    form
    {
        margin-bottom:0%;
    }

    #chartdiv
    {
        height: 50vh;
    }

    #myInput
    {
        width: 50vw;
    }

    .death,.active,.recovered,.confirm
    {
        width:20vw;
        padding:1.5%;
        border-radius: 5px;
        box-shadow: -5px 1px 10px rgba(0,0,0,0.7);
        opacity:0.95;
        transition: 0.2s;
    }

    .death p:first-child,.active p:first-child,.recovered p:first-child,.confirm p:first-child
    {
        font-weight: bold;
        color:#feffff;
        font-size:1.8vw;
    }

    .death p:last-child,.active p:last-child,.recovered p:last-child,.confirm p:last-child
    {
        margin-top:7.5%;
        text-align: center;
        font-size: 1.8vw;
        font-weight: bolder;
        color:#feffff;
    }

    #myInput
    {
        font-size:1.6vw;
    }

    th,td
    {
        font-size:1.5vw;
    }

    .table-fill
    {
        width:75vw;
    }

    #myChart1,#myChart2,#myChart3,#myChart4
    {
        width:75% !important;
        height:15% !important;
        /* background-color: rgba(231, 239, 246,0.9); */
        background-color: #e7eff6;
        margin: 5% auto 0 auto;
        display:none;
        box-shadow:-5px 1px 15px black ;
    }

    #myChart1
    {
        margin-top:5%;
    }

    .table-hover
    {
        max-height: 50vw;
    }

    .news_wrap
    {
        display:none;
        width:65vw;
        margin: 7% auto 0 auto;
        background-color: #eee;
        box-shadow: -5px 10px 20px black;
        border-radius: 5px 5px 5px 5px;
    }

    .news_title_head h1
    {
        font-size:1.8vw;
    }

    .news_title
    {
        font-size: 1.6vw;
    }

    .cum h1,.daily h1
    {
        font-size:1.8vw;
    }

    .cum
    {
        margin-right:2%;
    }

    .daily
    {
        margin-left:2%;
    }

    .container .meta-section .thumbnail-image {
        width:20vw;
        height: 10vw;
    }

    .meta-information {
        width:20vw;
        height: 40px;
        margin:0 auto;
      }
    
      .item_wrap2 .meta-section
      {
        width:70vw;
        margin:5% auto;
    
      }
      
      .item_wrap2 .meta-section .thumbnail-image
        {
            width:100%;
            height: 300px;
        }
}